<div class="sidebar">
    <h5>Navigation</h5>
    <ul class="list-group">
        <li class="list-group-item"><a href="/admin/dashboard">Dashboard</a></li>
        <li class="list-group-item"><a href="/admin/manage_rooms">Manage Rooms</a></li>
        <li class="list-group-item"><a href="/admin/manage_sessions">Manage Sessions</a></li>
        <li class="list-group-item"><a href="/admin/view_registrations">View Registrations</a></li>
        <li class="list-group-item"><a href="/admin/manage_schedule">Manage Schedule</a></li>
        <li class="list-group-item"><a href="/admin/view_attendance">View Attendance</a></li>
        <li class="list-group-item"><a href="/chair/chair_sessions">Chair Sessions</a></li>
        <li class="list-group-item"><a href="/chair/manage_attendance">Manage Attendance</a></li>
        <li class="list-group-item"><a href="/chair/chair_profile">Profile</a></li>
    </ul>
</div>